body {
	color: black;
	background-color: #181a1b;
	
}
#wikivan5 {
	float: right;
	border: 5px solid black; 
	margin-top: 50px;
	padding: 15px;
	width: 200px;
	background-color: #4961b6;
}

#vrede {
	border: 5px solid black; 
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 750px;
	background-color: #181a1b;;
	display: flex;
	flex-wrap: wrap;
}
h4{
	margin-top: 10px;
	padding: 0px;
	color: white;
	
	
	
}
.why {
	padding: 13px;
	
	
	
	
}



#linkerbox {

	float: left;
	border: 5px solid black; 
	margin-top: 50px;
	padding: 15px;
	background-color: #4961b6;
	
	
	
	
}
h5 {
	margin-top: 10px;
	width: 210px;
	color: white;
	
	
	
	
}
h1 {
	color: white;


}
.link {
	color:green;
	
	
	
	
	
	
	
}
.al1 { 
	text-align: center; 




}


}
.schijfff{
	padding: 13px;
	margin-right: auto;
}
.oip{
	padding: 13px;
}
.chlorestrol{
	padding: 15px;
}
.fastfood{
	padding: 15px;
}
.graan{
	padding: 13px;
}
.salmon{
	padding: 15px;
}











	
	
	
	
	
	
}

sv5-loader {
			text-align: center;
			width: 100%;
		    min-height: 370px;
		    max-height: 430px;
			background: url('https://sv5.voedingscentrum.nl/Content/images/schijf-los-animated.gif') center center no-repeat;
		}

		.sv5-framecontainer {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			text-align: left;
		    min-height: 370px;
		    max-height: 430px;
			margin: 0 auto;
		}


		#sv5-iframe {
			display: none;
			width: 100%;
            max-width: 614px !important;
		}

		@media screen and (max-width: 375px) {
			.sv5-framecontainer {
				margin: 10px auto;
			}

			#sv5-iframe {
				width: 335px;
			}
		}

		@media screen and (max-width: 360px) {
			.sv5-framecontainer {
				margin: 10px auto;
			}

			#sv5-iframe {
				width: 320px;
			}
		}

		@media screen and (max-width: 320px) {
			.sv5-framecontainer {
				margin: 10px auto;
			}

			#sv5-iframe {
				width: 280px;
			}
		}









